= slide 'За какво говорихме предния път?' do
  list:
    Ruby on Rails и защо това е един от най-добрите web frameworks в момента
    Какви са възможностите на Rails накратко
    Как се разпространява Rails и как да си го инсталираме (`gem install rails`)
    Какви са основните компоненти, съставящи Rails
    Започнахме едно малко примерно уеб-приложение на Rails

= slide 'Какво ще правим днес?' do
  list:
    Ще си поиграем още с примерното уеб-приложение, което създадохме предния път
    Ще опитаме да обхванем още малко от възможностите на Rails в малко повече детайли

= slide 'Имайте предвид' do
  list:
    Rails е доста дълбока вода — сбирките, на които говорим за него, засягат само върха на айсберга
    Това, че се спазват конвенции и добри практики ще ви помогне да навлезете бързо във фреймуърка, ако желаете
    Самото начало (от нула) е най-трудно, после нещата тръгват по релсите

= slide 'Генератори в Rails' do
  list:
    Предия път видяхме, че Rails разполага с набор от удобни command-line програмки, които ни улесняват живота
    `rails -h` за помощ относно наличните команди
    `rails new app_name` създава ново празно приложение, кръстено AppName
    `rails g scaffold quiz` генерира "скеле", позволяващо CRUD-операции с ресурса Quiz (модел, контролер, изгледи, тестове)
    `rake db:migrate` не е генератор, а Rake-задача, която изпълнява новосъздадени миграции на базата данни (добавяне на таблици, колони, индекси...)
    Много други. Полезни са и се ползват често. Разгледайте `rails -h`

= slide 'Примерното приложение' do
  list:
    Нека продължим да се занимаваме с примерното приложение, което започнахме предния път
    Да опитаме да добавим концепция за въпроси и отговори и съответните взаимовръзки между тях и да видим какво ще се получи

= slide 'Сайтът на курса' do
  p Не забравяйте:
  p <a href="http://fmi.ruby.bg/">Сайтът на курса</a> е написан на Rails; можете да видите <a href="https://github.com/skanev/evans">кода му в GitHub</a>

= slide 'Документация и ресурси' do
  list:
    Тонове из нета
    <a href="https://github.com/rails/rails">https://github.com/rails/rails</a>
    <a href="http://rubyonrails.org/">http://rubyonrails.org е официалният сайт</a>
    <a href="http://guides.rubyonrails.org/">http://guides.rubyonrails.org</a>
    <a href="http://apidock.com/rails">http://apidock.com/rails</a>
