= slide 'Кратка ретроспекция' do
  list:
    Кои от вас не са присъствали на нито една от предните сбирки?
    На последните две сбирки говорихме за Ruby on Rails
    Общ поглед над възможностите на framework-а, философията му, съставните му компоненти
    Работихме над едно <a href="https://github.com/mitio/quizzes/tree/part-2">малко примерно уеб-приложение на Rails</a>

= slide 'Какво ще правим днес?' do
  list:
    Както очаквате, ще доразвием още примерното уеб-приложение
    Ще дълбаем още в това, което Rails ни предоставя

= slide 'Преди това' do
  list:
    0. Колко от вас се занимаваха с, първо, уеб-програмиране и второ, Rails?
    1. Кои от вас не бяха поглеждали Rails преди сбирките?
    2. Кои от т. 1 се заинтересуваха от Rails (или уеб-програмиране) след последните две сбирки?
    3. Кои от т. 2 пробваха нещо на Rails или пне разгледаха нещо допълнително вкъщи?
    Имате ли назрели въпроси?

= slide 'Автоматична администрация' do
  list:
    Предния път се опитахме да подкараме разширение към Rails — модул за автоматична администрация
    Сега ще видим как изглежда този модул

= slide 'Демонстрация' do
    p Да опитаме да добавим още функционалност в нашето просто Quizzes-приложение

= slide 'Резултатът' do
  list:
    Както и преди, можете да го видите <a href="https://github.com/mitio/quizzes/tree/part-3">в GitHub-проекта му</a>
    <a href="https://github.com/mitio/quizzes/compare/part-2...part-3">Пълният списък на промените, които направихме днес, се вижда тук</a>
    Основното забавление беше около изгледите, view helper-и, интернационализация, валидация на данни в моделите
    Ако искате да го подкарате при вас, <a href="https://github.com/mitio/quizzes#readme">следвайте инструкциите тук</a>
    След като пуснете приложението, може да отворите <a href="http://localhost:3000/">http://localhost:3000/</a> и да си поиграете

= slide 'Empower on Rails' do
  list:
    Следващата сбирка ще е с тема "Test-Driven в Rails" и ще я води Стефан
    Повече информация и регистрация тук: <a href="http://rails.empowerunited.com/">http://rails.empowerunited.com/</a>
    Очакваме това събитие да стане хубава традиция; за RoR-обществото в България трябва да се работи още много

= slide 'Добре дошли в Rails!' do
  list:
    Засегнахме Rails много, <strong>много</strong> повърхностно, но се надявам, че ви е било интересно
    За всякакви въпроси по темата можете да пишете <a href="http://fmi.ruby.bg/topics">във форума на курса</a> или на fmi в ruby.bg
    Успех!
